In [1]:
import pandas as pd
import numpy as np

# 1. Leitura e organização dos dados

In [4]:
# Ler a tabela
df = pd.read_csv("/home/marina/Documentos/FURG/Manufatura/avali7.csv",
                 index_col=0)
df.head()

         Te Pi
Tarefa
1       0.5  -
2       0.3  1
3       0.3  1
4       0.2  2
5       0.1  2

In [7]:
# Converte do formato String para float

df["Te"] = df["Te"].astype(float)

# Ordenar em ordem decrescente conforme os valores de Tek

df = df.sort_values(by="Te", ascending=False)
df.head()

         Te    Pi
Tarefa
6       0.6     3
10      0.6  6, 9
1       0.5     -
8       0.5  3, 5
7       0.4  4, 5

# 2. Resolução do problema

In [16]:
# Funcao para identificar predecessores imediatos

def precede_por(antecessor):
  pre = antecessor.split(",")
  if "-" in pre:
    return []
  return [int(pi) for pi in pre]

# Funcao para estabelecer cada estacao

def est_nova():
  return {
      "Tarefas": [], "Tempo": 0,
  }

# Funcao que estabelece a regra do maior candidato

def regra_maior_candidato(df, ts):
  tempo_est = ts
  tf_feita = []
  i_tf = 0
  estacoes = []
  estacao = est_nova()

  while len(tf_feita) < df.shape[0]:
    tf = df.iloc[i_tf]
    comp = True

    tempo_tf = tf.Te
    n_tf = tf.name
    antes = precede_por(tf.Pi)    # lista de antecessores

    for ante in antes:
      if ante not in tf_feita:      # verifica se tarefa foi completada
        comp = False
        break

    if n_tf in tf_feita:
      comp = False

    if tempo_est < tempo_tf:
      comp = False
    
    if comp:
      estacao["Tarefas"].append(n_tf)   # adiciona o numero da tarefa na lista
      estacao["Tempo"] += tempo_tf      # soma o tempo da tarefa completada
      
      tf_feita.append(n_tf)
      tempo_est -= tempo_tf

    if i_tf == df.shape[0]-1:
      estacoes.append(estacao)

      estacao = est_nova()
      tempo_est = ts

      i_tf = 0
    else:
      i_tf += 1

  return estacoes

In [17]:
# dados do enunciado

tc = 1.1 
tr = 0.1
ts = tc - tr

# execucao 

regra_maior_candidato(df, ts)

[{'Tarefas': [1, 2, 4], 'Tempo': 1.0},
 {'Tarefas': [3, 5], 'Tempo': 0.4},
 {'Tarefas': [6, 7], 'Tempo': 1.0},
 {'Tarefas': [8, 9], 'Tempo': 0.8}]