# Avaliação 7 - Sistemas de Manufatura

Marina Zanotta Rocha - 140592  
email: marina.zr.flora@gmail.com

Andressa Cavalcante Da Silva - 140594  
email: andressacavalcante94@gmail.com

In [24]:
import pandas as pd
import numpy as np

# 1. Leitura e organização dos dados

In [57]:
# Ler a tabela
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1WlVk8k8bAin77N7P75O3jJuaaJHiN2KZZqIQNDTcIsQ/export?format=csv",
                 index_col=0)
df

         Te   Pi
Tarefa
1       0.5    -
2       0.3    1
3       0.3    1
4       0.2    2
5       0.1    2
6       0.6    3
7       0.4  4,5
8       0.5  3,5
9       0.3  7,8
10      0.6  6,9

In [58]:
# Converte do formato String para float

df["Te"] = df["Te"].astype(float)

# Ordenar em ordem decrescente conforme os valores de Tek

df = df.sort_values(by="Te", ascending=False)
df

         Te   Pi
Tarefa
6       0.6    3
10      0.6  6,9
1       0.5    -
8       0.5  3,5
7       0.4  4,5
2       0.3    1
3       0.3    1
9       0.3  7,8
4       0.2    2
5       0.1    2

# 2. Resolução do problema

In [199]:
# Funcao para identificar predecessores imediatos

def precede_por(antecessor):
  pre = antecessor.split(",")
  if "-" in pre:
    return []
  return [int(pi) for pi in pre]

# Funcao para estabelecer cada estacao

def est_nova():
  return {
      "Tarefas": [], "Tempo": 0,
  }

def quantas_est(estacoes):
  num_est = len(estacoes)
  print ("Numero de estacoes: ", num_est)
  return num_est

# Funcao que estabelece a regra do maior candidato

def regra_maior_candidato(df, ts):
  tempo_est = ts
  tf_feita = []
  i_tf = 0
  estacoes = []
  estacao = est_nova()

  while len(tf_feita) < df.shape[0]:
    tf = df.iloc[i_tf]
    cabe = True
  
    tempo_tf = tf.Te
    n_tf = tf.name
    antes = precede_por(tf.Pi)    # lista de antecessores
    

    for ante in antes:
      if ante not in tf_feita:      # verifica se a tarefa precedente foi completada
        cabe = False
        break

    if n_tf in tf_feita:
      cabe = False
      

    if tempo_est < tempo_tf:
      cabe = False
    if len(estacoes) > 0:
      print (i_tf)
    if cabe:
      
      
      estacao["Tarefas"].append(n_tf)   # adiciona o numero da tarefa na lista
      estacao["Tempo"] += tempo_tf      # soma o tempo da tarefa completada
      tf_feita.append(n_tf)
      tempo_est -= tempo_tf
      i_tf = -1
      if len(estacoes) > 0:
        print ("passei")
    if i_tf == df.shape[0]-1:

      estacoes.append(estacao)
      estacao = est_nova()
      tempo_est = ts

      i_tf = 0
      
    else:
      i_tf += 1
      if len(estacoes) > 0:
        print ("oi")
      
  quantas_est(estacoes)

  return estacoes

In [200]:
# dados do enunciado

tc = 1.1 
tr = 0.1
ts = tc - tr

# execucao 

regra_maior_candidato(df, ts)

0
oi
1
oi
2
oi
3
oi
4
oi
5
oi
6
passei
oi
0
passei
oi
0
oi
1
oi
2
oi
3
oi
4
oi
5
oi
6
oi
7
oi
8
oi
9
0
oi
1
oi
2
oi
3
oi
4
oi
5
oi
6
oi
7
oi
8
oi
9
passei
oi
0
oi
1
oi
2
oi
3
passei
oi
0
oi
1
oi
2
oi
3
oi
4
passei
oi
0
oi
1
oi
2
oi
3
oi
4
oi
5
oi
6
oi
7
oi
8
oi
9
0
oi
1
oi
2
oi
3
oi
4
oi
5
oi
6
oi
7
passei
oi
0
oi
1
passei
oi
Numero de estacoes:  3

[{'Tarefas': [1, 2, 4], 'Tempo': 1.0},
 {'Tarefas': [3, 6], 'Tempo': 0.8999999999999999},
 {'Tarefas': [5, 8, 7], 'Tempo': 1.0}]